body {
  background: url("../images/blog-bg-portrait.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  padding-top: 350px;
}


.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+68,ffffff+68,ffffff+94,ffffff+100&1+34,0.01+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 34%, rgba(255,255,255,0.49) 68%, rgba(255,255,255,0.1) 94%, rgba(255,255,255,0.01) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 34%,rgba(255,255,255,0.49) 68%,rgba(255,255,255,0.1) 94%,rgba(255,255,255,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 34%,rgba(255,255,255,0.49) 68%,rgba(255,255,255,0.1) 94%,rgba(255,255,255,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#03ffffff',GradientType=0 ); /* IE6-9 */
}


#tb6, #tb5, #tb4, #tb3, #tb2, #tb1, #cb6, #cb5, #cb4, #cb3, #cb2, #cb1b, #cb1a {
  text-align: center;
  color: white;
  margin: 3px;
  border-radius: 20px;
  opacity: 0.8;
}

h1 {
  font-family: "Permanent Marker";
  text-align: center; 
  font-size: 1.8em;
  color: white;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  opacity: 0.9;
}
/*REMOVE UNDERLINE FROM ANCHORS*/
a {
  text-decoration: none;
  font-family: "Permanent Marker";
  text-align: center;
}

h1:hover {
  color: black;
  background-color: #01ffcb;
}

@media only screen and (max-width: 520px) {
   #title img {
    max-width: 100%;
    display: block;
    text-align: center;
  }

@media only screen and (max-width: 580px) {
   #title img {
    max-width: 100%;
    display: block;
    text-align: center;
  }
}
@media only screen and (min-device-width: 520px) and (max-device-width : 736px) {
    #title img {
    max-width: 100%;
    display: block;
    text-align: center;
  }
}

#home a {
  margin: 0 auto;
  display: block;
  font-size: 70px;
  font-family: "Permanent Marker";
  color: #2ED9BD;
  padding: 20px 0;
  text-shadow: 5px 5px 5px black;
}

#home a:hover {
  color: #FD34C2;
  text-align: center;
  margin: 0 auto;
}