body {
  background: url("http://free.wallpaperbackgrounds.com/movie/star%20wars/star-wars-movie-35975.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  font-size: 2em;
  color: red;
  padding: 15px;
  font-family: "Share Tech";
}

a:hover {
  color: black;
  background-color: red;
  border-radius: 10px;
}

/* PADDING FROM TOP OF PAGE */
.header {
  padding-top: 50px;
  width: 100%;
}
/* PADDING FROM BOTTOM OF PAGE */
.footer {
  padding: 80px 0;
  text-align: center;
}

p {
  font-size: 2em;
  font-family: "Share Tech";
  text-align: justify;
  opacity: 0.83;
  color: #ffdf00;  
  padding: 30px;
}
/* Media Queries */

@media only screen and (max-width: 500px) {
  h1 {
    width: 100%;
    font-size: 5em;
    text-align: center;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 1200px) {
  h1 {
    width: 80%;
    font-size: 5em;
    text-align: center;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 500px) {
  h2 {
    width: 100%;
    font-size: 2.1em;
    text-align: center !important;
  }
@media only screen and (max-width: 500px) {
  #content3 ol {
    width: 50%;
    font-size: 1.5em;
    padding-left: 100px;
  }
}
@media only screen and (max-width: 500px) {
  #content2 ol {
    width: 50%;
    font-size: 1.5em;
    text-align: left;
    padding-left: 100px;
  }
}

@media only screen and (max-width: 500px) {
  p {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
  }
}
/*-- ---------------------------------------------------------- --*/ 
/* FOOTER-Text */
@media only screen and (max-width: 500px) {
 #back-button {
    font-size: 2em;
  }
}

@media only screen and (max-width: 500px) {
#counter {
    width: 35%;
    margin: 0 auto;
  }
}