body {
  background: url("../images/cb3-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*REMOVE UNDERLINE FROM ANCHORS*/
a {
  text-decoration: none;
}


/*TRIALLING*/
html, body, #container {
  height: 50px;
  width: 100%;
}
body {
  margin:0;
  padding:0;
  height:100%;
}



/*-- ---------------------------------------------------------- --*/ 
/* HEADER-Title */
#title h1 {
  text-align: center;
}
/* HEADER-Background */
.header {
  padding-top: 40px;
  font-family: "Lobster Two";
  margin: 0;
  width: 100%;
  height: 100px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+68,ffffff+68,ffffff+94,ffffff+100&1+34,0.01+100 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 34%, rgba(255,255,255,0.49) 68%, rgba(255,255,255,0.1) 94%, rgba(255,255,255,0.01) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 34%,rgba(255,255,255,0.49) 68%,rgba(255,255,255,0.1) 94%,rgba(255,255,255,0.01) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 34%,rgba(255,255,255,0.49) 68%,rgba(255,255,255,0.1) 94%,rgba(255,255,255,0.01) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#03ffffff',GradientType=0 ); /* IE6-9 */
}
/* HEADER-Button */
#back-button {
   padding: 12px 0;
   text-align: center;
}
#back-button a {
  font-family: Arial;
  background-color: gray;
  border: 2px solid gray;
  color: white;
  opacity: 0.3
}
#back-button a:hover {
  background-color: transparent;
  color: gray;
  opacity: 0.6;
}
/*-- ---------------------------------------------------------- --*/ 
/* MAIN-Title */
h4 {
  color: white;
  font-family: "Lobster Two";
  font-size: 30px;
  text-shadow: 0 0 10px black;
  text-align: center;
  padding-top: 5px;
}
@media only screen and (min-device-width: 414px) {
    h4 {
    text-align: center;
    font-size: 30px;
  }
}

/* MAIN-Scrollboxes */
#answerform{
  color: white;
  border: 5px solid transparent;
  padding: 15px;
  background: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  opacity: 0.6;
  width: 275px;
  height: 250px;
  overflow-y: scroll;
  position: relative;
}
/* MAIN-Layout */
.main {
  padding-top: 20px;
  padding-bottom:50px; /* Height of the Sticky Footer */
}

.note p {
  font-family: "Shadows Into Light";
  color: white;
  font-size: 20px;
  text-align: center;
}
/*-- ---------------------------------------------------------- --*/ 

