body {
  background: #ffaa00;
}


.raro {
  text-align: center;
  max-width: 100%;
  padding: 50px 0px;
}

.raro :hover {
  font-weight: bold;
}


h3 {
  color: white;
  font-family: "Anton";
  font-size: 40px;
  padding-bottom: 80px;
  margin: 0 auto;
  line-height: 0px;
  display: inline-block;
  text-align: center;
}

.smaller {
  color: #9b6700;
}

.MainTitle {
  text-align: center;
}

h1 {
  font-family: "Anton";
  font-size: 38px;
  color: #007676;
  text-align: center;
  padding:10px;
  border: 0;
  margin:1px;
}

h2 {
  font-family:helvetica;
  color:#9b6700;
  padding:0px 25px;
  margin: 0px;
}

p {
  display: block;
  color: black;
  font-family: Arial;
  margin: 5px 0 20px 0;
  padding: 0px 25px;
}

a:hover{
  font-weight: bold;
  color: white;
}

a {
  color: #007676;
  text-decoration: none;
  font-family:arial;
  text-align: block;
  padding: 10px;
  margin: 20px;
}


li {
  text-align: left;
  display: center;
  padding: 2px;
  font-family: Arial;
}