body {
  background: #ffaa00;
}

li {
  list-style-type: none;
  text-align: left;
  background-color: #007676;
  display: center;
  padding: 10px;
  border-radius: 10px;
}

.raro {
  text-align: center;
  max-width: 100%;
  padding-top: 70px;
}

.raro :hover {
  font-weight: bold;
}


h3 {
  color: white;
  font-family: "Anton";
  text-align: center;
  font-size: 50px;
  padding-bottom: 80px;
  margin: 0px;
  line-height: 0px;
}

h1 {
  font-family: "Anton";
  font-size: 38px;
  color: #007676;
  text-align: center;
  padding:10px;
  border: 0;
  margin:1px;
}

h2 {
  font-family:helvetica;
  color:#9b6700;
  padding:0px `25px;
  margin: 0px;
}

p {
  display: block;
  color: black;
  font-family: Arial;
  margin: 5px 0 20px 0;
  padding: 0px 25px;
}

ul {
  font-family: Arial;
}

a:hover{
  font-weight: bold;
  color: white;
}

a {
  color: #007676;
  text-decoration: none;
  font-family:arial;
  text-align: block;
  padding: 10px;
  margin: 20px;
}