body {
    background: url("../images/main.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
html, body, #container {
  height: 100%;
  width: 100%;
}





/*HEADER*/


.header{
  background-color: black;
  z-index: 0;
  opacity: 0.7;
  color: black;
}
/*HEADER TEXT*/
#toptext {
  font-family: "Poiret One";
  color: #33C3F0;
  text-align: center;
}
#toptext p {
  color: white;
  z-index: 1;
}
.header img {
  float: center;
  width: 100px;
  height: 100px;
  padding: 25px;
  border-radius: 5px;
}
/*LOGO*/
#logo {
  z-index: 1; position: relative;
}




/*BODY-Headlines*/
h4 {
  color: #33C3F0;
}
/*BODY-Left Column*/
#intro {
  color: white;
}





/*FOOTER*/
.footer {
  background-color: black;
  text-align: center;
  font-family: "Raleway";
  padding: 10px;
}
.footer a {
  text-decoration: none;
  padding: 50px 0;
  margin: 50px 0;
}
.footer a:hover {
  color: white;
}
.footer p {
  font-family: "Poiret One";
  color: white;
  padding: 0;
  margin: 30px 0;
}