body {
  background: url("../images/tb3-bg2.jpg");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*REMOVE UNDERLINE FROM ANCHORS*/
a {
  text-decoration: none;
}
/*TRIALLING*/
html, body, #container {
  height: 0px;
  width: 100%;
}
body {
  margin:0;
  padding:0;
  height:100%;
}
/*-- ---------------------------------------------------------- --*/ 
/* HEADER-Title */
#title h1 {
  text-align: center;
  color: white;
  font-family: "Orbitron";
  padding-top: 100px;
  padding-bottom: 50px;
}
/*-- ---------------------------------------------------------- --*/ 
/* MAIN-Instructions Text */
#instructions p {
  font-family: "Orbitron";
  color: white;
  background-color: black;
  opacity: 0.7;
  border-radius: 20px;
  text-align: center;
  padding: 0 0;
 }
/* MAIN-Nav Menu Hover */
ul, a {
  font-family: "Share Tech";
  font-size: 1.5em;
  list-style-type: none;
  text-align: center;
  color: white;
}

li {
  padding: 10px 1px 10px 1px;
  display: block;
}

/* MAIN-Nav Menu Hover */
a:hover {
  color: #ffc500;
  opacity: 0.7;
}
/* MAIN-Article Titles */
h2 {
  color: white;
  font-family: "Orbitron";
  font-size: 50px;
  text-align: justify;
  padding-top: 150px;
}
@media only screen and (min-device-width: 414px) {
    h2 {
    text-align: center;
    font-size: 35px;
  }
}
/* MAIN-Wireframe Thumbnails */
.thumbnail {
  border-radius: 20px;
  padding: 10px;
}

.thumbnail1:hover {
  position: relative;
  width:450px;
  height: auto;
  display: block;
  z-index: 999;
}

.thumbnail2:hover {
  position: relative;
  width:450px;
  height: auto;
  display: block;
  z-index: 999;
}

.thumbnail3:hover {
  position: relative;
  width:300px;
  height: 450px;
  display: block;
  z-index: 999;
}

.thumbnail4:hover {
  position: relative;
  width:300px;
  height: 450px;
  display: block;
  z-index: 999;
}
/* MAIN-Content Text */
 p {
  font-family: "Days One";
  font-size: 1.3em;
  color: white;
  background-color: black;
  opacity: 0.7;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
   }
 /* MAIN-"TOP" Link Hover */
#toplink > p:hover {
  color: red !important;
}
/* MAIN-Layout */
.main {
  padding-top: 20px;
  padding-bottom:100px; /* Height of the Sticky Footer */
}
/*-- ---------------------------------------------------------- --*/ 
/* FOOTER-Text */
.footer {
  text-align: center;
  padding-bottom: 100px;
}
/*-- ---------------------------------------------------------- --*/ 